.dropdown {
  margin: 20px auto;
  width: 15%;
  display: grid;
}

#repo-item-ul {
  padding-inline-start: 30px !important;
}

@media only screen and (max-width: 400px) {
  .dropdown {
    width: 42%;
  }
}