.list-group-item {
  /* display: block; */
  /* margin: 0 auto; */
  width: 100%;
}

.list-title {
  /* display: block; */
  /* margin: 0 auto; */
  width: 100%;
  padding: 10px 0px;
  border-radius: 0px;
  text-align: left;
  padding-left: 20px;
}

.list-header-container {
  float: left;
  padding: 0px;
  /* width: 100%; */
}

.list-group-header {
  list-style: none;
}

.list-group {
  margin: 0 auto;
}

#description {
  padding-left: 8%;
}